bin/logs.txt

web/PDO_Errors.log
web/config.php

crontest.txt
web/info.php
deploy.php
web/deploy.php

web/test.txt

app/View/logs/*
app/View/cache/*
app/View/templates_c/*
web/cache/*
web/assets/*
web/cache/imgs/*
web/cache/logs/*
web/uploads/*

!app/View/logs/.gitkeep
!app/View/templates_c/.gitkeep
!app/View/logs/.gitkeep
!app/View/cache/.gitkeep
!web/cache/.gitkeep
!web/cache/imgs/.gitkeep
!web/cache/logs/.gitkeep
!web/cache/assets/.gitkeep
!web/uploads/.gitkeep

