@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-Bold.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-Italic.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-Light.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-LightItalic.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-Medium.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-MediumItalic.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-Thin.ttf') format('ttf'),
  		url('../fonts/Roboto/Roboto-ThinItalic.ttf') format('ttf'),
}

.wizard-header{
  position: relative;
}

.wizard-header img{
  width: 80px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 140px;
}

@media (max-width: 1199px) {
  .wizard-header img {
    left: 80px
  }
}

@media (max-width: 992px) {
  .wizard-header img {
    left: 20px
  }
}

@media (max-width: 767px) {
  .wizard-header img {
    left: 1em
  }
}
@media (max-width: 439px) {
  .wizard-header img {
    width: 60px
  }
}

.login-form{
	display: flex;
	justify-content: center;
}

.time-info{
	text-align: left;
	padding: 20px 15px;
	text-align: justify;
}

.wizard-card{
	position: relative;
}

.under-text{
	padding: 20px 15px;
  color: #7b7b7b;
  font-size: 12px;
}

.footer-contact{
  color: #7b7b7b;
  margin: 10px 1px;
  max-width: 60%;
}

.adnotation{
  font-size: 0.8em;
  color: #31516b;
}

.loading {
  position: absolute;
  font-size: 5em;
  color: #f44336;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: inherit;
  height: 100%;
  z-index: 999;
}

#navTab li a{
  cursor: pointer;
}

.tab-content.passed{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.tab-content.passed h2{
  margin-bottom: 3.5em;
}

.tab-content.passed svg{
  font-size: 7em;
  position: absolute;
  bottom: 0.6em;
  color: #01a701;
}

.date{
  font-weight: bold;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}